@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*{
    margin: 0;
    padding: 0;
    color: #c2d2cf;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
  line-height: 1.45;
  color: #2D2D2D;
  overflow-x: hidden;
}
nav{
    height: 6rem;
    width: 100vw;
    background-color: #365b6d;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 15rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #c2d2cf;
    border:1.5px solid #c2d2cf;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #c2d2cf;
    background-color: transparent;
    border:1.5px solid #c2d2cf;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #c2d2cf;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*after Nav*/
h1, h3{
    font-family: 'Lato';
}
h2, p, a{font-family: 'Roboto',Helvetica, sans-serif;}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  background: #2D2D2D;
  letter-spacing: .02em;
  border: none;
  border-radius: 5px;
  padding: .8rem 1rem .9rem;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: #008ee8;
  color: #fff;
}
.btn:focus, .btn:active, .btn:focus:active {
  background: #006eb5;
  border-color: #006eb5;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

header {
color: white;
background: #007ece;
padding: 30% 0;
height: 100%;
text-align: center;
position: relative;
z-index: 1;
overflow: hidden;
}
header h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

section {
  background: #fff;
  color: #1c262b;
  padding: 3.5rem 0;
}

section.FirstSection {
  background: #3D9970;
  color: #fff;
}
section.SecondSection {
  background: #378a65;
  color: #fafafa;
}
section h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 1rem;
}
section li {
  font-size: 1.2rem;
  font-weight: 300;
}
section p {
  font-size: 1.2rem;
  font-weight: 300;
}

.col, .col-7, .col-3 {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}
.col-7 {
  width: 64%;
}
.col-3 {
  width: 29%;
}
.col-5 {
  width: 30%;
}
.FirstText {
  text-align: left;
}
.FirstText h3 {
  font-size: 2rem;
  text-align: left;
}
.Detail {
  text-align: center;
  padding: 1rem;
    -webkit-transition: all .5s;
  transition: all .5s;
}
.Detail:hover {
    -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Detail i {
  font-size: 4rem;
  margin: 0 0 2rem 0;
}
.Detail p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
blockquote:before {
display: inline-block;
color: #fafafa;
font-size: 50px;
line-height: 10px;
content: '\201C';
}
blockquote p {
  margin: 0;
  display: inline;
  font-size: 1.5rem;
}
blockquote cite {
  font-size: 1rem;
  display: block;
  margin: .5rem 0 0 1.2rem;
  text-decoration: italic;
}
blockquote cite:before {
  content: '-';
}
blockquote cite:after {
  content: '-';
}
footer {
  background-color: #2D2D2D;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}
footer i{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #3d81bc;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}
footer p{
  color:  #fff;
  font-size: 14px;
  margin: 0;
  text-align: right;
}

.AlignCenter {
  text-align: center;
}

.LogoImage{max-width: 100px}
.BgImage {
  background: #007ece;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.BgImage:before {
content: '';
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 200%;
z-index: -1;
background: #3D9970 url("https://falsistorici.altervista.org/Codepen/macbookBck.jpg") no-repeat top center;
background-size: cover;
background-attachment: fixed;
opacity: .8;
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
.BgImage.SecondBg:before {
  opacity: .6;
  background-image: url("https://falsistorici.altervista.org/Codepen/macbookKeyBck.jpg");
  background-position: center center;
}
@media screen and (max-width: 600px ) {
  .btn {
    padding: .5rem .7rem .6rem;
    font-size: 1rem;
  }
  header {
    padding: 50% 0;
  }
 
header h1 {
  font-size: 30px;
  margin: 0 0 1rem;
}
  header h2 {
    font-size: 1.5rem;
  }
  section {
    padding: 2rem 0;
  }
  section h3 {
    font-size: 1.5rem;
  }
  .col-7 {
    width: 100%;
    margin: 0;
  }
  .col-3 {
    width: 100%;
    margin: 0;
  }
  .col-5 {
    width: 60%;
    margin: 0;
  }
  .Detail {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .Detail:last-child {
    border: none;
  }
  .firstDescription {
    height: 200px;
    width: auto;
    margin: 0 auto;
  }
  .Detail i {
    font-size: 1.5rem;
    width: 2rem;
    text-align: center;
    margin: 0 0 1rem 0;
    float: left;
  }
  blockquote p {
    font-size: 1.2rem;
  }
  blockquote cite {
    font-size: .8rem;
  }
}
